@use "./../scss/mixins" as *;
@use "./../scss/text" as text;

.auth--container {
  background-color: lightblue;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  .auth--form {
    @include flex-center-col(2rem);

    input {
      width: 24rem;
      height: 4rem;

      font-size: text.$font-regular-sm;

      padding: 0 2rem;
      border-radius: 3px;
    }
  }
}
